<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/comportamientoDinamico.js"></script>
</head>

{{# partial "titulo" }}
    <title>GESOC - Entidades</title>
{{/partial}}

{{# partial "nav"}}
    <a class="links_navegacion" href="/organizaciones"><i class="fas fa-sitemap"></i> Organizaciones</a>
    <i class="fas fa-arrow-right" style="padding-right: 3px"></i>
    {{#organizacion}}
        <a class="links_navegacion" href="/organizaciones/{{id}}"><i class="fas fa-sitemap"></i> {{nombre}}</a>
    {{/organizacion}}
    <i class="fas fa-arrow-right" style="padding-right: 3px"></i>

    <!--Elemento actual-->
    <a class="links_navegacion" href="#" style="background: #069848"><i class="fas fa-building"></i> Entidades</a>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        <div id="main">
            <h2>Entidades</h2>
            {{#organizacion}}
            <form action="/organizaciones/{{id}}/entidades" method="GET">
            {{/organizacion}}
               Filtrar por categoria:
                <select name="categoria">
                    <option value = "Cualquiera" selected>Cualquier categoria</option>
                    {{#categoriasDisponibles}}
                        <option value={{id}}>{{descripcion}}</option>
                    {{/categoriasDisponibles}}
                </select>
                <input type="submit" value="Filtrar">
            </form>

            <ul class="listas">
                {{#entidades}}
                    <li>
                        <i class="fas fa-hand-point-right"></i>
                        <a onclick="showLoader()" class="link_blanco" href="entidades/{{id}}">{{nombreFicticio}}</a>
                    </li>
                {{/entidades}}
            </ul>
        </div>
        <div id="loader" class="loader" style="display: none;margin-top: 25px">
        </div>
    </section>
{{/partial}}

{{> layout.html.hbs }}