{{# partial "titulo" }}
    <title>Gesoc - Detalle de Operacion</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">

        <div>
            {{#compra}}
            <span>ID compra: </span><br>
                <span>{{id}}</span>
            {{/compra}}
        </div><br>

        <div>
            <span>Items: </span><br>
            <ul>
            {{#items}}
                <li>{{descripcion}}</li>
            {{/items}}
            </ul>
        </div><br>

        <div>
            {{#documentoComercial}}
            <span>Documento comercial: </span><br>
                <span>{{tipoDoc}}</span>
            {{/documentoComercial}}
        </div><br>

        <div>
            {{#compra}}
            <span>Fecha de Operacion:</span><br>
                <span>{{fechaOperacion}}</span>
            {{/compra}}
        </div><br>

        <div>
            {{#compra}}
            <span>Medio de Pago:</span><br>
                <span>{{medio}}</span>
            {{/compra}}
        </div><br>

        <div>
            {{#proveedor}}
            <span>Proveedor:</span><br>
                <span>{{razonSocial}}</span>
            {{/proveedor}}
        </div><br>

        <div>
            <span>Presupuestos: </span><br>
            <ul>
                {{#presupuestos}}
                    <li>{{id}}</li>
                {{/presupuestos}}
            </ul>
        </div><br>

        <div>
            {{#presupuestoElegido}}
            <span>Presupuesto Elegido:</span><br>
                <span>{{id}}</span>
            {{/presupuestoElegido}}
        </div><br>

        <div>
            <span>Revisores:</span><br>
            <ul>
                {{#revisores}}
                    <li>{{username}}</li>
                {{/revisores}}
            </ul>
        </div><br>

        <div>
            <span>Validaciones: </span><br>
            <ul>
                {{#validaciones}}
                    <li>{{descripcion}}</li>
                {{/validaciones}}
            </ul>
        </div><br>

        <div>
            <span>Etiquetas:</span><br>
            <ul>
                {{#etiquetas}}
                    <li>{{texto}}</li>
                {{/etiquetas}}
            </ul>
        </div><br>

        <div>
            {{#compra}}
             <span>Presupuestos Minimos:</span><br>
                <span>{{presupuestosMinimos}}</span>
            {{/compra}}
        </div><br>

        <div>
            {{#compra}}
            <span>Estado de la Operacion:</span><br>
                <span>{{estado}}</span>
            {{/compra}}
        </div><br>

    </section>
{{/partial}}

{{> layout.html.hbs }}