{{# partial "titulo" }}
    <title>GESOC - Entidades</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Entidades:</h2>

        <form action="/organizaciones/{{organizacion}}/entidades" method="GET">
           Filtrar por categoria:
            <select name="categoria">
                <option value = "Cualquiera" selected>Cualquier categoria</option>
                {{#categoriasDisponibles}}
                    <option value={{id}}>{{descripcion}}</option>
                {{/categoriasDisponibles}}
            </select>
            <input type="submit" value="Filtrar">
        </form>

        <ul>
            {{#entidades}}
                <li><a href="entidades/{{id}}">{{nombreFicticio}}</a></li>
            {{/entidades}}
        </ul>

    </section>
{{/partial}}

{{> layout.html.hbs }}