{{# partial "titulo" }}
    <title>GESOC - Entidad</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
        {{#entidadBase}}
             <li>Tipo entidad: base</li>
             <li>Nombre ficticio:{{nombreFicticio}}</li>
             {{#categoria}}
               <li>Categoria: {{descripcion}}</li>
             {{/categoria}}
             <li>Descripción: {{descripcion}}</li>
             {{#entidadJuridicaAsociada}}
                 <li>Entidad juridica asociada: <a href="{{id}}">{{nombreFicticio}}</a></li>
             {{/entidadJuridicaAsociada}}
        {{/entidadBase}}

        {{#entidadJuridica}}
            <li>Tipo entidad: juridica</li>
            <li>Nombre ficticio:{{nombreFicticio}}</li>
            {{#categoria}}
                <li>Categoria: {{descripcion}}</li>
            {{/categoria}}
            <li>Razon social: {{razonSocial}}</li>
            <li>CUIT: {{cuit}}</li>
            <li>Código inscripción IGJ: {{codInscIGJ}}</li>
            <li>Categoria jurídica: {{categoriaEntidadJuridica}}</li>
            {{#ubicacion}}
                <li>Ubicacion: {{pais}} - {{provincia}} - {{ciudad}}</li>
            {{/ubicacion}}
            {{#direccion}}
                <li>Direccion: {{calle}} {{altura}} {{piso}} {{depto}}</li>
            {{/direccion}}
        {{/entidadJuridica}}

        <div><a href="{{idEnt}}/operaciones">Ver operaciones de egreso</a></div>
    </section>
{{/partial}}

{{> layout.html.hbs }}