{{# partial "titulo" }}
    <title xmlns="http://www.w3.org/1999/html">Gesoc - Alta Operacion</title>
{{/partial}}


{{# partial "contenido" }}

    <section class="fondo-gris">
        <h2>Nueva operación de egreso</h2>
        <form action="/organizaciones/{{organizacion}}/entidades/{{entidad}}/operaciones" method="POST">
            <div class="campo">
                <span class="nombre-campo">Fecha: </span>
                <input type="date" name="fecha" placeholder="Ingrese fecha">
            </div>
            <div>
               <span class="nombre-campo">Proveedor: </span>
               <select name="proveedor">
                  {{#proveedores}}
                      <option value={{id}}>{{razonSocial}}</option>
                  {{/proveedores}}
               </select>
            </div>
            <div>
               <span class="nombre-campo">Documento comercial: </span>
               <select name="documentoComercial">
                  {{#tiposDocumentoComercial}}
                      <option>{{DisplayName}}</option>
                  {{/tiposDocumentoComercial}}
               </select>
            </div>
            <div>
               <span class="nombre-campo">Medio de pago: </span>
               <select name="medioDePago">
                  {{#mediosDePago}}
                       <option>{{displayName}}</option>
                  {{/mediosDePago}}
               </select>
            </div>
            <div>
               <span class="nombre-campo">Presupuestos mínimos </span>
               <input type="number" name="presupuestosMinimos" placeholder="Ejemplo: 1">
            </div>
            <div>
                <span class="nombre-campo">Etiqueta: </span>
                <input list="etiquetas">
                <datalist id="etiquetas">
                    {{#etiquetas}}
                        <option>{{texto}}</option>
                    {{/etiquetas}}
                </datalist>

                <!--select name="etiqueta">
                    {{#etiquetas}}
                        <option>{{texto}}</option>
                    {{/etiquetas}}
                </select-->
            </div>
        </form>
    </section>
    <!--<section>
        <h1>Items</h1>
         TODO // Hacer form para crear Items
         TODO // Hacer form para cargar Validaciones
         TODO // Hacer form para cargar mas de una etiqueta
        <form>

        </form>
    </section>-->

{{/partial}}

{{> layout.html.hbs }}