{{# partial "titulo" }}
    <title>GESOC - Organizacion</title>
{{/partial}}

{{# partial "contenido" }}
    {{#organizacion}}
    <section class="fondo-gris">
        <h2>Organizacion: {{nombre}}</h2>
        <h2>Descripción: {{descripcion}}</h2>

        <!--<h3>Entidades asociadas:
        <ul>
            {{#entidades}}
                <li>{{nombreFicticio}}</li>
            {{/entidades}}
        </ul>
        </h3>-->
        <div><a href="/organizaciones/{{id}}/entidades">Listado de entidades</a></div>
        <div><a href="/organizaciones/{{id}}/entidades/nueva">Crear nueva entidad</a></div>
    </section>
    {{/organizacion}}
{{/partial}}

{{> layout.html.hbs }}